@{
    ViewBag.Title = "RealizarProva";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> @*//remover*@

<h2>Realizar Prova</h2>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h5>1)Quanto é 1 + 1</h5>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h6>Resposta 1</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <textarea class="form-control" id="resposta1" type="text"></textarea>
    </div>
</div>


<br />
<br />
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h5>2) Quanto é 2 + 2</h5>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h6>Resposta 2</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <textarea class="form-control" id="resposta1" type="text"></textarea>
    </div>
</div>